import { join } from 'path';
import { readFileSync } from 'fs';

export default {
  database: {
    host: 'MONGODB_CONNECTION_URL_HERE',
  },
  server: {
    development: false,
    logger: false,
    port: 443,
    http2: true,
    token: {
      secret: 'KEY_HERE'
    }
  }
}
